@import "tailwindcss";
html {
  font-size: 17px;
}
html,
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: #1e293b;
}

.font-mono {
  font-family: "JetBrains Mono", "Courier New", monospace;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
